.page {
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: column;
}

.page .page-title{
	display: flex;
	justify-content: space-between;
	padding: var(--spacing-xl);
	align-items: center;

	& > h1 {
		font-size: var(--text-xxl);
	}

	& > h2 {
		font-size: var(--text-xl);
	}
}

.page .page-content {
	height: 100%;
}
