.swiper {
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: row;
	
	overflow-x: scroll;
	overflow-y: hidden;
	scroll-snap-type: x mandatory;
	scroll-snap-stop: always;
	/* Allows JS to scroll with animation */
	scroll-behavior: smooth;

	/* initial properties */
	--child-0-width: 50px;
	--child-0-opacity: 60%;
}

.pager {
	width: 100%;
	position: absolute;
	bottom: 0;

	display: flex;
	gap: var(--spacing-xl);
	justify-content: center;
	padding-bottom: var(--spacing-m);

	& > div {
		width: 50px;
		height: 50px;

		background-color: white;
		border-radius: 25px;

		opacity: 20%;
	}
}

.child {
	min-width: 100%;
	width: 100%;
	height: 100%;

	scroll-snap-align: center;
}
