@keyframes bounce {
	0% {
		transform: translateX(-50%) translateY(0);
	}

	25% {
		transform: translateX(-50%) translateY(10px);
	}

	50% {
		transform: translateX(-50%) translateY(0);
	}
}

.scroll-me {
	--size: 65px;

	z-index: 10;
	max-width: var(--size);
	max-height: var(--size);
	position: fixed;
	bottom: 15px;
	left: 50%;
	transform: translateX(-50%);
	animation: bounce 1.5s ease-in-out infinite;
	mix-blend-mode: difference;
}

.scroll-me svg {
	max-width: var(--size);
	max-height: var(--size);
	fill: var(--background-secondary);
	opacity: 0.3;
}
